.tree-node {
  display: flex;
  height: var(--tree-node-height);
}

.tree-node:hover {
  background-color: var(--tree-node-hover-color);
}

.selected-tree-node {
  background-color: var(--tree-node-active-color);

  color: var(--primary-font-color);
  font-weight: bold;
}

.tree-node.selected-tree-node:hover {
  background-color: var(--tree-node-active-color);
}

.tree-node-indent {
  height: 100%;
  width: 1em;
  flex-shrink: 0;
}

.node-content {
  flex-grow: 1;
  height: 100%;
  line-height: var(--tree-node-height);
  padding: 0px 0.5em 0px 15px;

  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}
