.ui-container {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

  /* display: flex; */
}

.react-dat-gui {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.editor-workspace {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 0;
}

.react-dat-gui-relative-position {
  position: absolute;
  top: 80px;
  left: 80%;
  width: 200px;
  z-index: 1
}

.ui-controls {
  position: relative;
  display: flex;
  background-color: var(--workspace-background-color);

  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

.brand {
  z-index: 2;
  flex-grow: 0;

  margin: 10px 0px 0px 10px;

  display: flex;
  align-items: center;
}

.brand img {
  height: 5rem;
}

.brand h1 {
  margin: 0px 0px 0px 0.5em;
}

.sidebar-container {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  min-width: 200px;
  width: 30%;
  max-width: 400px;
}

.filepicker-sidebar {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;

  z-index: 1;
}

.model-tree-container {
  position: absolute;

  height: 50%;
  min-width: 200px;
  width: 30%;
  max-width: 300px;

  right: 0;
  bottom: 0;

  margin: 15px;

  z-index: 1;
}

.full-height {
  height: 100%;
  max-height: 100%;
}

.scrollable {
  overflow-y: scroll;
}

/* Elements */

/* Input */
.ui.input > input:hover, input:hover {
  background-color: var(--input-hover-background-color);
}

@media (max-width: 700px) {
  .react-dat-gui {
    flex-direction: column !important;
  }
}
